
{{extend 'layout.html'}}

<p>{{=A('Record a new job (for kids)',_class = 'btn',_href = URL('default','submit_jobs'))}}</p>
<p>{{=A('Show my completed jobs (for kids)',_class = 'btn',_href = URL('default','list_jobs'))}}</p>
<p>{{=A('Approve & Edit a job (for parents)',_class = 'btn',_href = URL('default','approve_jobs'))}}</p>
<p>{{=A('Pay completed jobs (for parents)',_class = 'btn',_href = URL('default','pay_jobs'))}}</p>
<p>{{=A('Edit the list of jobs (for parents)',_class = 'btn',_href = URL('default','edit_chores'))}}</p>

